:root {
  --verdeEscuro: #0a522d;
  --verdeMedio: #14a35b;
  --verdeFraco: #12bd68;
  --verdeMuitoFraco: #f0fff7;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto Condensed", sans-serif;
  max-width: 1800px;
  margin: auto;
}

button,
h1,
h2,
h3,
p {
  user-select: none !important;
}

/* Classes globais */

.section-padding {
  padding: 22rem 0;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.small-text {
  font-size: 18px;
  line-height: 32px;
  text-align: justify;
}

.title-text {
  font-size: 32px;
}

.display-btn {
  width: 280px;
  height: 70px;
  margin-top: 30px;

  font-family: inherit;
  color: var(--verdeMedio);
  font-size: 26px;

  outline: none;
  background-color: transparent;
  border: 3px solid var(--verdeMedio);
  border-radius: 12px;
  cursor: pointer;

  transition: 0.5s ease-out;
}

.display-btn:hover,
.display-btn:active {
  transition: 0.3s ease-in;

  color: white;
  background-color: var(--verdeFraco);
  border: 3px solid var(--verdeFraco);
}

/* Classes globais */

.header__container {
  width: 100%;
  position: fixed;
  top: 0;
  background-color: var(--verdeFraco);
  padding: 30px 0;
  line-height: 30px;
}

.header__container-nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
}

#logo {
  font-weight: bolder;
  font-size: 42px;
  color: white;
  cursor: pointer;
  text-decoration: none;
}

.header__container-nav-itens a {
  text-decoration: none;
  color: white;
  padding: 16px;
  font-size: 20px;
}

.header__container-nav-itens a:hover {
  border-bottom: 3px solid white;
}

.section__sobre {
  padding: 20px 0;
  background-image: linear-gradient(
    to right,
    var(--verdeMuitoFraco),
    var(--verdeMedio)
  );
}

.section__sobre-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.section__sobre-content {
  width: 400px;
}

.section__sobre-img img {
  object-fit: cover;
  width: 400px;
}

.main__perfilfinanceiro {
  width: 100%;
  background-color: var(--verdeMuitoFraco);
}

.main__perfilfinanceiro-wrapper {
  width: 80%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main__perfilfinanceiro-description {
  width: 700px;
  padding: 30px;
  display: block;
}

.main__perfilfinanceiro-description h3 {
  margin-bottom: 30px;
}

.main__perfilfinanceiro-description p {
  font-size: 20px;
}

#form-pergunta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  display: none;
  padding: 30px;
}

.form-pergunta-display {
  width: 100%;
  padding: 20px 10px;
}

.form-pergunta-display h3 {
  margin-bottom: 10px;
}

.main__perfilfinanceiro-form-actions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main__perfilfinanceiro-form-actions button {
  width: 800px;
  height: 80px;
  margin-top: 30px;

  font-family: inherit;
  color: var(--verdeMedio);
  font-size: 26px;

  outline: none;
  background-color: transparent;
  border: 3px solid var(--verdeMedio);
  border-radius: 12px;
  cursor: pointer;

  transition: 0.5s ease-out;
}

.main__perfilfinanceiro-form-actions button:hover {
  transition: 0.3s ease-in;

  color: white;
  background-color: var(--verdeFraco);
  border: 3px solid var(--verdeFraco);
}

.main__perfilfinanceiro-resultado {
  width: 700px;
  padding: 30px;
  display: none;
}

.main__perfilfinanceiro-resultado-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.main__perfilfinanceiro-resultado-wrapper h3 {
  margin-bottom: 30px;
}

.main__perfilfinanceiro-resultado-wrapper p {
  font-size: 20px;
}

/*Planejador financeiro*/

.container__planejamentoFinanceiro {
  background-color: var(--verdeMuitoFraco);
  width: 100%;
}

.container__planejamentoFinanceiro-wrapper {
  width: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container__planejamentoFinanceiro-wrapper h3 {
  margin-bottom: 30px;
}

.form__planejamentoFinanceiro {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form__planejamentoFinanceiro input[type="text"] {
  border: none;
  border: 3px solid var(--verdeMedio);
  border-radius: 12px;
  outline: none;

  font-family: inherit;
  text-align: center;
  font-size: 32px;

  margin-top: 30px;
  width: 80%;
  height: 80px;

  color: white;
  background-color: var(--verdeFraco);
  border: 3px solid var(--verdeFraco);
}
.form__planejamentoFinanceiro input::placeholder {
  color: white;
}

/*Artigos*/

.artigos {
  display: flex;
  background-color: var(--verdeMuitoFraco);
  padding: 70px 0;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.title__artigos {
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 20px;
}

.text__artigos {
  text-align: center;
  font-size: 18px;
  line-height: 32px;
  width: 50%;
  margin-bottom: 20px;
}

.conteudoVideo__artigos {
  display: flex;
}

.caixa {
  border-radius: 5px;
  margin-left: 22px;
}

.textoVideo__artigos {
  padding: 30px;
  text-align: center;
  font-size: 18px;
  line-height: 32px;
  font-weight: 500;
}
