:root {
  --verdeEscuro: #0a522d;
  --verdeMedio: #14a35b;
  --verdeFraco: #12bd68;
  --verdeMuitoFraco: #f0fff7;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto Condensed", sans-serif;
  max-width: 1800px;
  margin: auto;
}

.section-padding {
  padding: 24rem 0;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.small-text {
  font-size: 18px;
  line-height: 32px;
  text-align: justify;
}

.title-text {
  font-size: 32px;
  margin-bottom: 20px;
}

.header__container {
  width: 100%;
  background-color: var(--verdeFraco);
  padding: 40px 0;
  line-height: 40px;
}

.header__container-nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
}

#logo {
  font-weight: bolder;
  font-size: 42px;
  color: white;
  cursor: pointer;
  text-decoration: none;
}

.header__container-nav-itens a {
  text-decoration: none;
  color: white;
  padding: 16px;
  font-size: 20px;
}

.header__container-nav-itens a:hover {
  border-bottom: 3px solid white;
}

.section__sobre {
  padding: 20px 0;
  background-image: linear-gradient(
    to right,
    var(--verdeMuitoFraco),
    var(--verdeMedio)
  );
}

.section__sobre-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.section__sobre-content {
  width: 400px;
}

.section__sobre-img img {
  object-fit: cover;
  width: 400px;
}

.main__perfilfinanceiro {
  width: 100%;
  background-color: var(--verdeMuitoFraco);
}

.main__perfilfinanceiro-wrapper {
  width: 80%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main__perfilfinanceiro-description {
  width: 700px;
  padding: 30px;
  display: block;
}

.main__perfilfinanceiro-description h3 {
  margin-bottom: 30px;
}

.main__perfilfinanceiro-description p {
  font-size: 20px;
}

.main__perfilfinanceiro-description button {
  width: 280px;
  height: 70px;
  margin-top: 30px;

  font-family: inherit;
  color: var(--verdeMedio);
  font-size: 26px;

  outline: none;
  background-color: transparent;
  border: 3px solid var(--verdeMedio);
  border-radius: 12px;
  cursor: pointer;

  transition: 0.5s ease-out;
}

.main__perfilfinanceiro-description button:hover {
  transition: 0.3s ease-in;

  color: white;
  background-color: var(--verdeFraco);
  border: 3px solid var(--verdeFraco);
}

#form-pergunta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  display: none;
  padding: 30px;
}

.form-pergunta-display {
  width: 100%;
  padding: 20px 10px;
}

.main__perfilfinanceiro-form-actions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main__perfilfinanceiro-form-actions button {
  width: 600px;
  height: 70px;
  margin-top: 30px;

  font-family: inherit;
  color: var(--verdeMedio);
  font-size: 26px;

  outline: none;
  background-color: transparent;
  border: 3px solid var(--verdeMedio);
  border-radius: 12px;
  cursor: pointer;

  transition: 0.5s ease-out;
}

.main__perfilfinanceiro-form-actions button:hover {
  transition: 0.3s ease-in;

  color: white;
  background-color: var(--verdeFraco);
  border: 3px solid var(--verdeFraco);
}

.main__perfilfinanceiro-section {
  width: 700px;
  padding: 30px;
  display: none;
}

.main__perfilfinanceiro-section-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main__perfilfinanceiro-section-wrapper h3 {
  margin-bottom: 30px;
}

.main__perfilfinanceiro-section-wrapper p {
  margin-bottom: 30px;
  font-size: 20px;
}

.main__perfilfinanceiro-section-wrapper button {
  width: 280px;
  height: 70px;

  font-family: inherit;
  color: var(--verdeMedio);
  font-size: 26px;

  outline: none;
  background-color: transparent;
  border: 3px solid var(--verdeMedio);
  border-radius: 12px;
  cursor: pointer;

  transition: 0.5s ease-out;
}

.main__perfilfinanceiro-section-wrapper button:hover {
  transition: 0.3s ease-in;

  color: white;
  background-color: var(--verdeFraco);
  border: 3px solid var(--verdeFraco);
}
